<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Middle Engine Software | {{title}}</title>
    <meta name=”description” content="{{description}}">
    <link rel=" apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="{{header.staticFiles.turbolinksJS}}" defer></script>
    <script src="{{header.staticFiles.cookieBannerJS}}" defer></script>
    <link href="{{header.staticFiles.normalizeCSS}}" rel="stylesheet">
    <link href="{{header.staticFiles.highlightCSS}}" rel="stylesheet">
    <link href="{{header.staticFiles.siteCSS}}" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;1,700&family=Archivo:ital@1&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>