<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv='content-language' content='en-gb'>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    {{#if issueNumber}}
    <meta itemprop="issueNumber" content="{{issueNumber}}">
    {{/if}}
    {{#unless watchMode}}
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; frame-src 'self' https://middleengine-website-comments.vercel.app/ https://github.com/; connect-src 'self' https://api.github.com https://cdnjs.cloudflare.com/; script-src 'self' https://unpkg.com/ https://cdnjs.cloudflare.com/; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/ https://unpkg.com/ https://cdnjs.cloudflare.com/; img-src 'self' https://*.githubusercontent.com/; font-src https://fonts.googleapis.com/ https://fonts.gstatic.com/" />
    {{/unless}}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"
        integrity="sha256-iM4Yzi/zLj/IshPWMC1IluRxTtRjMqjPGd97TZ9yYpU=" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/octomments/build/ocs-ui.min.css" />
    <script src="https://unpkg.com/octomments/build/ocs.min.js"></script>
    <script src="{{staticFile "/js/cookie-banner.HASH.js"}}" defer></script>
    <link href="{{staticFile "/css/site.HASH.css"}}" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        defer rel="stylesheet">
    {{#if watchMode}}
    <script src="/reload/reload.js"></script>
    {{/if}}
</head>