<!DOCTYPE html>
<html lang="en">

{{> head title="Home" description="Software development services from Middle Engine Software Ltd" }}

<body class="index">
    {{> header }}
    <main>
        <header class="hero">
            <figure class="hero" role="presentation" aria-hidden="true">
                <div class="hero-img-wrap">
                    <picture>
                        <source srcset="/images/home/coding-2100x700.jpg 1x, /images/home/coding-2100x700-2x.jpg 2x"
                            media="(min-width: 1400px)">
                        <source srcset="/images/home/coding-1600x800.jpg 1x, /images/home/coding-1600x800-2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="/images/home/coding-800x800.jpg 1x, /images/home/coding-800x800-2x.jpg 2x"
                            media="(min-width: 320px)">
                        <img src="/images/home/coding-800x800.jpg" alt="A person working on their laptop"
                            role="presentation">
                    </picture>
                </div>
            </figure>
            <div class="hero-text-wrap">
                <h1>
                    Software development services
                    by <strong>Middle Engine Software</strong>
                </h1>
            </div>
        </header>
        <section id="services-section">
            <ul>
                <li id="d3-service">
                    <img src="/images/d3-icon-v1.svg" alt="D3 logo" role="presentation">
                    <p>For custom <strong>D3</strong> data visualisations</p>
                </li>
                <li id="react-service">
                    <img src="/images/react-icon-v1.svg" alt="React logo" role="presentation">
                    <p>For complex <strong>React.js</strong> Web applications</p>
                </li>
                <li id="performance-service">
                    <img src="/images/speedometer-v1.svg" alt="Performance increasing" role="presentation">
                    <p>For improved <strong>performance</strong> of existing sites</p>
                </li>
                </li>
                <li id="start-up-service">
                    <img src="/images/start-button-v1.svg" alt="A rocket launching" role="presentation">
                    <p>For <strong>start-up</strong> experience</p>
                </li>
            </ul>
        </section>
        <section id="cta-section">
            <p>
                Please get in touch to see how we can assist your company.
            </p>
            <a href="mailto:hello@middle-engine.com">Get in touch</a>
        </section>
        <section id="blog-posts-listing">
            <header>
                <h2>Latest blog posts</h2>
                <p>To see all blog posts, visit <a href="/blog">this page</a>.</p>
            </header>
            <ul>
                {{#each latestBlogPosts}}
                <li>
                    <h3><a href="{{urlPath}}">{{meta.title}}</a></h3>
                    <div class="byline">
                        By&nbsp;
                        <address class="author"><a rel="author" href="{{meta.author.url}}">{{meta.author.name}}</a>
                        </address>
                        <time pubdate datetime="{{meta.date}}"
                            title="{{formatDate meta.date "short"}}">{{formatDate meta.date "short"}}</time>
                    </div>
                    <p>{{meta.summary}}</p>
                    <a href="{{urlPath}}">Read this post</a>
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{> footer }}
</body>

</html>