<!DOCTYPE html>
<html lang="en">

{{> head description=description issueNumber=issueNumber }}

<body class="blog">
    {{> header }}
    <main>
        <article>
            <header class="basic-hero">
                <div class="hero-text-wrap">
                    <h1>{{title}}</h1>
                    <div class="byline">
                        By&nbsp;
                        <address class="author"><a rel="author" href="{{author.url}}">{{author.name}}</a>
                        </address>
                        <time pubdate datetime="{{date}}"
                            title="{{formatDate date "short"}}">{{formatDate date "short"}}</time>
                    </div>
                </div>
            </header>
            <div class="article-body">
                {{{content}}}
                {{#if issueNumber}}
                <article>
                    <h2 id="comments"><a class="header-anchor" href="#comments">#</a> Comments</h2>
                    <p class="note">
                        Comments on this site are implemented using GitHub Issues.
                        To add your comment to this post, please add it
                        to <a href="https://github.com/stevejay/middleengine-website/issues/{{issueNumber}}">this GitHub
                            Issue</a>. It will then appear below.</p>
                    <comments-list data-owner="stevejay" data-repo="middleengine-website"
                        data-issue-number="{{issueNumber}}"
                        data-issue-endpoint="https://middleengine-website-comments.vercel.app/octomments/issue">
                    </comments-list>
                </article>
                {{/if}}
            </div>
        </article>
    </main>
    {{> footer }}
</body>

</html>