<!DOCTYPE html>
<html lang="en">

{{> head description=summary }}

<body class="blog">
    {{> header }}
    <main>
        <article>
            <header class="basic-hero">
                <div class="hero-text-wrap">
                    <h1>{{title}}</h1>
                    <div class="byline">
                        By&nbsp;
                        <address class="author"><a rel="author" href="{{author.url}}">{{author.name}}</a>
                        </address>
                        <time pubdate datetime="{{date}}"
                            title="{{formatDate date "short"}}">{{formatDate date "short"}}</time>
                    </div>
                </div>
            </header>
            <section>
                {{{content}}}
            </section>
        </article>
    </main>
    {{> footer }}
</body>

</html>