<!DOCTYPE html>
<html lang="en">

{{> head description=summary }}

<body class="blog">
    {{> header }}
    <main>
        <article>
            <header class="basic-hero">
                <div class="hero-text-wrap">
                    <h1>{{title}}</h1>
                    <div class="byline">
                        By&nbsp;
                        <address class="author"><a rel="author" href="{{author.url}}">{{author.name}}</a>
                        </address>
                        <time pubdate datetime="{{date}}"
                            title="{{formatDate date "short"}}">{{formatDate date "short"}}</time>
                    </div>
                </div>
            </header>
            <div class="article-body">
                {{{content}}}
                {{#if issueNumber}}
                <section>
                    <h2 id="comments"><a class="header-anchor" href="#changelog">#</a> Comments</h2>
                    <div style="overflow: scroll;">
                        <iframe src="/iframes/comments.html" width="461"
                            height="518"></iframe>
                    </div>
                </section>
                {{/if}}
            </div>
        </article>
    </main>
    {{> footer }}
</body>

</html>