<!DOCTYPE html>
<html lang="en">

{{> head }}

<body class="blog">
    {{> header }}
    <main>
        <article>
            <header class="hero">
                <figure class="hero" role="presentation" aria-hidden="true">
                    <div class="hero-img-wrap">
                        <picture>
                            <source srcset="{{heroImage.rawUrl}}&fm=jpg&fit=crop&crop=entropy&w=1600&h=800&q=80&dpi=1 1x,
            {{heroImage.rawUrl}}&fm=jpg&fit=crop&crop=entropy&w=1600&h=800&q=80&dpi=2 2x" media="(min-width: 768px)">
                            <source srcset="{{heroImage.rawUrl}}&fm=jpg&fit=crop&crop=entropy&w=2100&h=700&q=80&dpi=1 1x,
            {{heroImage.rawUrl}}&fm=jpg&fit=crop&crop=entropy&w=2100&h=700&q=80&dpi=2 2x" media="(min-width: 1400px)">
                            <img src="{{heroImage.rawUrl}}&fm=jpg&fit=crop&crop=entropy&w=800&h=800&q=80&dpi=1 1x,
            {{heroImage.rawUrl}}&fm=jpg&fit=crop&crop=entropy&w=800&h=800&q=80&dpi=2 2x">
                        </picture>
                    </div>
                    <figcaption>
                        <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
                            href="{{heroImage.creditUrl}}?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                            target="_blank" rel="noopener noreferrer"
                            title="Download free do whatever you want high-resolution photos from {{heroImage.creditName}}"><span
                                style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                    style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                    viewBox="0 0 32 32">
                                    <title>unsplash-logo</title>
                                    <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                                </svg></span><span
                                style="display:inline-block;padding:2px 3px">{{heroImage.creditName}}</span></a>
                    </figcaption>
                </figure>
                <div class="hero-text-wrap">
                    <h1>{{title}}</h1>
                    <div class="byline">
                        By&nbsp;
                        <address class="author"><a rel="author" href="{{author.url}}">{{author.name}}</a>
                        </address>
                        <time pubdate datetime="{{date}}"
                            title="{{formatDate date "short"}}">{{formatDate date "short"}}</time>
                    </div>
                </div>
            </header>
            <section>
                {{{content}}}
            </section>
        </article>
    </main>
    {{> footer }}
</body>

</html>