<!DOCTYPE html>
<html lang="en">

{{> head description=description issueNumber=issueNumber }}

<body class="blog">
    {{> header }}
    <main>
        <article>
            <header class="basic-hero">
                <div class="hero-text-wrap">
                    <h1>{{title}}</h1>
                    <div class="byline">
                        By&nbsp;
                        <address class="author"><a rel="author" href="{{author.url}}">{{author.name}}</a>
                        </address>
                        <time pubdate datetime="{{date}}"
                            title="{{formatDate date "short"}}">{{formatDate date "short"}}</time>
                    </div>
                </div>
            </header>
            <div class="article-body">
                {{{content}}}
                {{#if issueNumber}}
                <section>
                    <h2 id="comments"><a class="header-anchor" href="#changelog">#</a> Comments</h2>
                    <div id="comments-list"></div>
                    <p class="comments-info">
                        Comments on this site are implemented using GitHub Issues. Commenting here requires that you
                        authorise a GitHub App to post the comment for you. You can instead post your comment directly
                        to <a href="https://github.com/stevejay/middleengine-website/issues/{{issueNumber}}">this GitHub
                            Issue</a>.</p>
                </section>
                {{/if}}
            </div>
        </article>
    </main>
    {{> footer }}
    {{#if issueNumber}}
    <script src="{{staticFile "/js/octomments.HASH.js"}}"></script>
    {{/if}}
</body>

</html>